/* Resource file for Menus */

#include "langdef.h"
#include "resource.h"

#ifndef MENULANG
#define MENULANG LANG_ENGLISH
#endif


IDR_MAINMENU MENU /* Menu for the main window */
BEGIN

#if MENULANG == LANG_ENGLISH

    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    
    POPUP "&Show"
    BEGIN
        MENUITEM "Display &Screen", ID_SHOW_SCREEN  /*, CHECKED*/
        MENUITEM "&Project Cued Item\aF9", ID_SHOW_PROJECT
        MENUITEM "&Black Screen\aF10", ID_SHOW_BLACK  /*, CHECKED*/
        MENUITEM "&Clear Screen\aF11", ID_SHOW_CLEAR  /*, CHECKED*/
    END

#elif MENULANG == LANG_FRANCAIS

    POPUP "&Fichier"
    BEGIN
        MENUITEM "&Quitter", ID_FILE_EXIT
    END
    
    POPUP "&Montrer"
    BEGIN
        MENUITEM "&Affichez l'Écran", ID_SHOW_SCREEN  /*, CHECKED*/
        MENUITEM "&Projetez l'Élément Indicé\aF9", ID_SHOW_PROJECT
        MENUITEM "Écran &Noir\aF10", ID_SHOW_BLACK  /*, CHECKED*/
        MENUITEM "Écran P&ropre\aF11", ID_SHOW_CLEAR  /*, CHECKED*/
    END

#elif MENULANG == LANG_CYMRAIG

    POPUP "&Ffeil"
    BEGIN
        MENUITEM "&Gadael", ID_FILE_EXIT
    END
    
    POPUP "&Dangos"
    BEGIN
        MENUITEM "Dangos y &Sgrin", ID_SHOW_SCREEN  /*, CHECKED*/
        MENUITEM "&Tafluniwch y Giwio Eitem\aF9", ID_SHOW_PROJECT
        MENUITEM "&Duo y Sgrin\aF10", ID_SHOW_BLACK  /*, CHECKED*/
        MENUITEM "&Cliriwch y Sgrin\aF11", ID_SHOW_CLEAR  /*, CHECKED*/
    END

#endif

END

